
@{
    ViewBag.Title = "Fev";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="container">
        @Html.Partial("_CalendarPartial")
    </div>
    <h2>Calendário de Eventos de Fevereiro</h2>
    <div class="forum-container">
        <div class="body">
            <div class="frame">
                <div class="container">
                    <div class="content-container">
                        <div class="content guest">
                            <div class="MessageList Discussion">
                                <!-- Page Title -->
                                <div class="Discussion">
                                    <div class="Item-BodyWrap">
                                        <div class="Item-Body">
                                            <div class="Message">
                                                <span style="color:orange">ATENÇÃO: TODAS AS DATAS ESTÃO SUJEITAS A ALTERAÇÃO</span><br />
                                                <br />
                                                <br /
                                                <br />
                                                <b>Recompensa por login - </b> Assasina Sith<br />
                                                <br />
                                                <br />
                                                <u><b>DEFESA DE DATHOMIR</b></u>
                                                <ul>
                                                    <li>Início: Feb1st</li>
                                                    <li>Fim: Feb 1st</li>
                                                </ul>
                                                <br />
                                                <u><b>BATALHA - LUA FLORESTAL</b></u>
                                                <ul>
                                                    <li>Início: Feb 3rd</li>
                                                    <li>Fim: Feb 4th</li>
                                                </ul>
                                                <br />
                                                <u><b>MAESTRIA DA FROTA - HOME ONE</b></u>
                                                <ul>
                                                    <li>Início: Feb 5th</li>
                                                    <li>Fim: Feb 5th</li>
                                                </ul>
                                                <br />
                                                <br />
                                                <u><b>BATALHA OMEGA - RESITÊNCIA E CLONES</b></u>
                                                <ul>
                                                    <li>Início: Feb 6th</li>
                                                    <li>Fim: Feb 6th</li>
                                                </ul>
                                                <br />
                                                <u><b>MORTE DO IMPERADOR MÍTICO (EMPERADOR PALPATINE)</b></u>
                                                <ul>
                                                    <li>Início: Feb 9th</li>
                                                    <li>Fim: Feb 15th</li>
                                                </ul>
                                                <br />
                                                <br />
                                                <u><b>FANTASMAS DE DATHOMIR</b></u>
                                                <ul>
                                                    <li>Início: Feb 9th</li>
                                                    <li>Fim: Feb 9th</li>
                                                </ul>
                                                <br />
                                                <br />
                                                <u><b>BATALHA - PODERIO MILITAR</b></u>
                                                <ul>
                                                    <li>Início: Feb 10th</li>
                                                    <li>Fim: Feb 11th</li>
                                                </ul>
                                                <br />
                                                <u><b>SOMBRAS DE MALACHOR(SAQUEADOR SITH)</b></u>
                                                <ul>
                                                    <li>Início: Feb 14th</li>
                                                    <li>Fim: Feb 16th</li>
                                                </ul>
                                                <br />
                                                <u><b>BATALHA - LOCAIS DE PODER</b></u>
                                                <ul>
                                                    <li>Início: Feb 17th</li>
                                                    <li>Fim: Feb 18th</li>
                                                </ul>
                                                <br />
                                                <u><b>ESCALADA DE ENDOR - HERÓICO</b></u>
                                                <ul>
                                                    <li>Início: Feb 19th</li>
                                                    <li>Fim: Feb 19th</li>
                                                </ul>
                                                <br />
                                                <br />
                                                <u><b>MAESTRIA DA FROTA - EXECUTRIX</b></u>
                                                <ul>
                                                    <li>Início: Feb 20th</li>
                                                    <li>Fim: Feb 20th</li>
                                                </ul>
                                                <br />
                                                <br />
                                                <u><b>BATALHA OMEGA - EWOK E IMPÉRIO</b></u>
                                                <ul>
                                                    <li>Início: Feb 22nd</li>
                                                    <li>Fim: Feb 22nd</li>
                                                </ul>
                                                <br />
                                                <u><b>BATALHA OMEGA - JEDI E TUSKEN</b></u>
                                                <ul>
                                                    <li>Início: Feb 23rd</li>
                                                    <li>Fim: Feb 23rd</li>
                                                </ul>
                                                <br />
                                                <u><b>BATALHA - GUERRA POR TERRITÓRIO</b></u>
                                                <ul>
                                                    <li>Início: Feb 24th</li>
                                                    <li>Fim: Feb 25th</li>
                                                </ul>
                                                <br />
                                                <u><b>MAESTRIA DA FROTA - ENDURANCE</b></u>
                                                <ul>
                                                    <li>Início: Feb 26th</li>
                                                    <li>Fim: Feb 26th</li>
                                                </ul>
                                                <br />
                                                <u><b>BATALHA OMEGA - PRIMEIRA ORDEM E CANALHA</b></u>
                                                <ul>
                                                    <li>Início: Feb 28th</li>
                                                    <li>Fim: Feb 28th</li>
                                                </ul>
                                                <br />
                                                <br />
                                                <u><b>Batalhas por território</b></u><br />
                                                Ataque rebelde:
                                                <ul>
                                                    <li>2/26/2018 - 3/4/2018</li>
                                                </ul>
                                               Retaliação imperial
                                                <ul>
                                                    <li>2/12/2018 - 2/18/2018</li>
                                                </ul>
                                                <u><b>Territory Wars</b></u><br />
                                                (Iniciando na fase de visualização)<br />
                                                Guerra 1
                                                <ul>
                                                    <li>2/3/2018 – 2/6/2018</li>
                                                </ul>
                                                Guerra 2
                                                <ul>
                                                    <li>2/6/2018 – 2/9/2018</li>
                                                </ul>
                                                Guerra 3
                                                <ul>
                                                    <li>2/17/2018 – 2/20/2018</li>
                                                </ul>
                                                Guerra 4
                                                <ul>
                                                    <li>2/20/2018 – 2/23/2018</li>
                                                </ul>
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>


    </div>
</body>
</html>
