
<table class="table raidtable rancorraid" align="center">
    <thead class="thead-dark">
        <tr>
            <td>Legenda</td>
            <td></td>

        </tr>
        <tr>
            <td>Atende requisito</td>
            <td bgcolor="009900"></td>
        </tr>
        <tr>
            <td>Atende requisito Parcialmente</td>
            <td bgcolor="FFB90F"></td>
        </tr>
        <tr>
            <td>Não atende requisito</td>
            <td bgcolor="FF0000"></td>
        </tr>
    </thead>
</table>